html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    color: #444444;
    font-size: 1em;
}

h1 {
    text-align: center;
    margin: 12px 0;
}

h1 {
    font-size: 2.5rem;

}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a:hover,
a:focus

/* hover is for moouse, focus is for keyboard*/
    {
    color: #1D4ED8;
}

a {
    text-decoration: none;
    color: #3B82F6
}

#logowithtext {
    display: none;
}

#logo_only {
    display: block;
}

#unique {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

#about {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 8px;
    max-width: 500px;
}

#description {
    font-size: 1.25rem;
}

#team-image {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

#jobs-list {
    display: block;
}

#jobs {
    display: none;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;

}

.job {
    border: 1px solid #dddddd;
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
}

.job-title {
    font-size: 1.25rem;
    font-weight: 500px;
    color: #222222;
}

.job-detail {
    margin-top: 5px;
    color: #555555;
}

#links {
    margin: 0px 12px;
}

#application {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

.form-group label {
    font-weight: 600;
    margin: 8px;

}

.form-group input,select,textarea{
    width:90%;
    padding:4px;
    font-size:1.25rem;
    margin-top:4px;
    border-radius:5px;
    border: 1px solid gray;
}

.formgroup {
    margin: 16px 0;
}

.formgroup textarea {
   
    font-family: 'Roboto', sans-serif;
}
#footer {
    background: #E2E8F0;;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
    padding-left: 0px;

}

#footer-links li {
    /* display: inline; */
    padding: 8px;
    
    margin: 0px 16px;
}

.copyright {
    color: #71717A;
   
    font-size: 0.875rem;
   
}
.formgroup input[type="submit"] {
    /* display: flex; */
    margin: 0 auto;
    font-weight: 500;
    background-color: #3B82F6;
    color: white;
    cursor:pointer; 
    height:35px;
    min-width:30%;
    font-size:12px;
    border-radius:5px;
    border-color: white;
    }
    input[type="submit"]:hover,
input[type="submit"]:focus{
background-color: black;

}

/* small devices (tablets)*/
@media screen and (min-width:576px) {
    html {
        font-size: 16px;
    }

    #logo_only {
        display: none;
    }

    #logowithtext {
        display: block;
    }

    #unique {
        height: 200px;
    }

    h1 {
        margin: 20px 0;
    }

    #team {
        width: 50%;
    }

    #jobs-list {
        display: none;
    }

    #jobs {
        display: table;
        max-width: 500px;
    }

    #table {
        /* width:100%; */
        border: 1px solid black;
        border-collapse: collapse;
    }

    .jobsheaderrow th {
        border: 1px solid black;
        padding: 8px;
        background-color: #BFDBFE;
        color: #222222;
        /* border-collapse:collapse; */
    }

    #table {
        background-color: white;
    }

    #table tr:nth-child(odd) {
        background-color: #EFF6FF;
    }

    .jobsdatarow td {
        border: 1px solid black;
        padding: 8px;
        /* border-collapse:collapse; */
    }
    .form-group input,select{
        width:auto;
    }
    .form-group textarea{
        width:80%;
        }
        .formgroup input[type="submit"] {
            display: flex;
            margin: 0 auto;
            font-weight: 500;
            background-color: #3B82F6;
            color: white;
            cursor:pointer; 
            }
        #footer-links li {
            display:inline;
        } 
        .formgroup input[type="submit"] {
            min-width:40%;
            font-size:14px;


}

}

/*medium devices(laptop)*/
@media screen and (min-width:768px) {
    #unique {
        height: 300px;
    }

    h1 {
        margin: 20px 0;
    }

    #about {
        max-width: 800px;
        flex-direction: row;


    }

    #description {
        width: 50%;
        padding-right: 8px;
    }

    #jobs {
        display: table;
        max-width: 800px;
    }

}

@media screen and (min-width:992px) {}

/* Extra large devices (large desktops)*/
@media screen and (min-width:1200px) {
    html {
        font-size: 20px;
    }

    #application {
        max-width: 800px;
    }
}

#navbar {
    padding: 8px;
    margin: 0;
}