/* *{
    font-size:16px;
} This is known as the universal selector */
html {
    font-size: 16px;
    /* background-color:rgba(193, 166, 115, 0.279);*/

}


#navbar {
    padding: 8px;
    margin: 0;
}

#align {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #444444;
    /* font-size:1rem;
    font-weight:bold;
    text-align:justify;
    line-height:1.5;
     */
}

h1 {
    /* color:darkblue; */
    text-align: center;

    /* font-size:3rem;
    font-size:3em; */
    /* text-decoration: underline;
    text-transform: uppercase;
*/
}

#unique {
    width: 100%;
    object-fit: cover;
    height:100px;
    
}

/* span.Location{
    color:grey;

} */
#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;

}

#description {
    font-size: 1.25rem;
    width: 50%;
    padding: 0 8px;
}

#team {
    width: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #222222;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

#team-image {
    width: 100%;
    ;

}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 8px;

}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

.apply {
    float: right;
}

a {
    text-decoration: none;
    color: #3B82F6
}

a:hover,
a:focus
/* hover is for moouse, focus is for keyboard*/
 {
    color: #1D4ED8;
}

#footer {
    background: color #FAFAFA;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
    /*display:flex;*/

}

#footer-links li {
    display: inline;
    padding: 8px;
    margin: 0 16 px;
}

.copyright {
    color: #71717A;
    margin: 0;
    font-size: 0.875rem;
}

#table {
    /* width:100%; */
    border: 1px solid black;
    border-collapse: collapse;
}

.jobsheaderrow th {
    border: 1px solid black;
    padding: 8px;
    background-color: #BFDBFE;
    color: #222222;
    /* border-collapse:collapse; */
}

#table {
    background-color: white;
}

#table tr:nth-child(odd) {
    background-color: #EFF6FF;
}

.jobsdatarow td {
    border: 1px solid black;
    padding: 8px;
    /* border-collapse:collapse; */
}

/* .remote {
    text-align: center;
} */

#application {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

#applicationform {
    font-weight: 600;
    margin: 8px;

}

#applicationform input,
select,
textarea {
    padding: 4px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.formgroup {
    margin: 16px 0;
}

.formgroup textarea {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.formgroup input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.formgroup input[type="submit"] {
    display: flex;
    margin: 0 auto;
    font-weight: 500;
    background-color: #3B82F6;
    color: white;
    cursor:pointer; 
    }
    input[type="submit"]:hover,
    input[type="submit"]:focus{
       background-color: black;

    }